<div id="header">
	<div class="ms-Grid jumbo-panel ms-bgColor-themeDarker">
		<div class="ms-Grid-row title-bar">
			<div class="ms-Grid-col">
				<span class="ms-font-m-plus ms-fontColor-themeLighter">Welcome</span>
			</div>
		</div>
		<div class="ms-Grid-row">
			<div class="ms-Grid-col">
				<span class="ms-font-su ms-fontColor-themeLighter">Hi there!</span>
			</div>
		</div>
		<div class="ms-Grid-row">
			<div class="ms-Grid-col">
				<p class="ms-font-xl ms-fontColor-themeLight">This is an AngularJS template in TypeScript and SASS.</p>
				<p class="ms-font-m ms-fontColor-themeLight">Customize it to your needs and have fun.</p>
			</div>
		</div>		
	</div>
</div>